@model Shop_Express.ViewModels.JobModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Job edit</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-anti-forgery="true">
            <input type="hidden" asp-for="Job.Id" />

            <div class="form-group">
                <label asp-for="Job.Name" class="control-label"></label>
                <input asp-for="Job.Name" class="form-control" />
                <span asp-validation-for="Job.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Job.Completed" class="control-label"></label>
                <div class="form-check">
                    <input asp-for="Job.Completed" class="form-check-input" />
                    <label class="form-check-label" asp-for="Job.Completed">Completed</label>
                </div>
                <span asp-validation-for="Job.Completed" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
